.header-container{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: #dddddd;
}

.header-logo{
    display: flex;
    align-items: center;
}
.header-logo > img{
    width: 30px;
    height: 30px;
}

.header-search{
    background: white;
}
.header-search > *{
    height: 100%;
    background-color: transparent;
    border: none;
}

.header-user{
    display: flex;
    align-items: center;
}